# base requirements:
django==1.5.1
Coffin>=0.3.8
jinja2
South
gunicorn==17.5
raven
python-cjson
lxml
cssselect
bpython
psutil
django_compressor
BeautifulSoup<4.0
django-nose
django-smtp-ssl
python-memcached
Pillow
django-forms-bootstrap
sorl-thumbnail
pbdeploy
# add your application-specific requirements here:
