# base requirements:
django==1.5.1
Coffin
jinja2
South
gevent
gunicorn==0.17.2
raven
python-cjson
lxml
cssselect
bpython
psutil
django_compressor
BeautifulSoup<4.0
django-nose
django-smtp-ssl
python-memcached
# add your application-specific requirements here:
